# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\My Drive\FGV EESP\4o SEMESTRE\Econometria II\QuantEconEESP\QuantEconEESP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
